{% extends "base.html" %}
{% load floto %}

{% block title %}Flickr Photo Frame{% endblock %}

{% block body %}
	<div id="frame">
		<img class="current" />
		<img class="upnext" />
	</div>

	<div class="info current">
		<div class="col">
			<div class="item title"></div>
			<div class="item album"></div>

		</div>
		<div class="col">
			<div class="item date_taken"></div>
			<div class="item location"></div>
		</div>
	</div>

	<div class="info upnext">
		<div class="col">
			<div class="item title"></div>
			<div class="item album"></div>
		</div>
		<div class="col">
			<div class="item date_taken"></div>
			<div class="item location"></div>
		</div>
	</div>

	<script src="{{STATIC_URL}}jquery-2.1.3.min.js"></script>
	<script src="{{STATIC_URL}}floto/js/floto.js"></script>
{% endblock body %}
